.sc-jUEmfL,sc-jonnzc .sc-fbkiRW.fMsvUe {
    border-radius: 15px!important;
    width:100%;
    margin:10px 10px 10px 0px;
    background-color:var(--secondary-background);
}
sc-jonnzc {
    margin-bottom:10px
}
@keyframes server-banner-slide-in {
    0%{opacity:0}
    100%{
    opacity:1
    }
}
.sc-fWSDcn>.sc-fbkiRW {
    margin:10px 10px 10px 10px!important;
    border-radius:10px 10px 10px 10px!important;
    background:var(--secondary-background);
    transition:transform .3s ease;
    animation:server-banner-slide-in .6s
}
@keyframes checkmark-slide-in {
    0%{
        transform:rotate(20deg)
    }80%{
        transform:rotate(380deg)
    }100%{
        transform:rotate(360deg)
    }
}
.sc-fbkiRW>div:not([class]) {
    animation:checkmark-slide-in 1s
}
.sc-fWSDcn,.sc-iNqMzA {
    background:var(--secondary-background);
    margin:10px 10px 10px 10px!important;
    border-radius:15px 15px 15px 15px!important
}
.sc-dwfUuu {
    border-radius:15px 15px 15px 15px!important;
    background:var(--primary-background)
}
.sc-laRQdt {
    border-radius:15px 15px 15px 15px!important;
    padding-bottom:20px!important;
}
._11Ivv {
    border-radius:15px 15px 15px 15px!important;
}
.sc-ctaXho>.sc-laRQdt {
    background-color:unset
}
.sc-ctaXho>.sc-laRQdt>div {
    height:101.5%;
    position:relative;
    border-radius:15px!important;
    margin:10px!important;
    top:-10px;
    padding-bottom:4px!important;
    background-color:var(--secondary-background)
}
.sc-laRQdt {
    border-radius: 15px!important;
}
.sc-dwfUuu {
    border-radius:15px 15px 15px 15px!important;
    background:unset
}
.sc-eJMPIT {
    border-radius:15px 15px 15px 15px!important;
    color:var(--tertiary-foreground)
}
.TdPPZ {
    border-radius:15px 15px 15px 15px!important;
    background-color:var(--error)!important
}
.sc-fbkiRW.fMsvUe {
    border-radius:15px!important;
    margin:5px;
    margin-left:0px;
    width:75%;
    background-color:var(--secondary-background)!important
}
.sc-TmdmN.dxJENu, .sc-bYEvvW.hJBMpB{
    border-radius:15px!important;
    background-color:var(--secondary-background)!important
}
.sc-higWrZ.kXyVbe{
    margin:5px;
    position:relative;
    left:5px;
    top:5px;
    border-radius:15px!important;
    background-color:var(--secondary-background)
}
.sc-GTVdH.hlljqt,.usernames{
    align-content:center!important;
    padding-left:10px;
    padding-right:10px;
}
.sc-dacGJm.ciPEUL {
    border-radius: 15px!important;
    margin-top:7px;
    background-color:var(--secondary-background)
}
.sc-fKFxtB.iJPhgZ{
    background-color:var(--secondary-background)
}
.iWufbt > span, .bStJZB > span {display: none;} /* Hides the default selected server thingy */
.iWufbt.sc-lcuiOb > div, .bStJZB.sc-lcuiOb > div {
    box-shadow: 0px 0px 5px 3px var(--accent); /* I just used 'var(--accent)' */
    border-radius: 50%;
    padding: 0;
    position: relative;
    left: 12%;
}
._item_12e90_1._compact_12e90_19 > selected{
box-shadow: 0px 0px 5px 3px var(--accent);
