*Original theme: <@01FE43S0TRRR73MEP5Y63Z9MCB>(@Davari)
Edits to make more usable made by <@01FTN0QWKA45VG5CPCVJH7H399>(@MYT)
*/
* {
  border-color: var(--border-color) !important;
}
@font-face {
    font-family: Blank;
    src: url("https://raw.githack.com/adobe-fonts/adobe-blank/master/AdobeBlank.ttf.woff?raw=true");
    unicode-range: U+61-7a,U+41-5a,U+20
}
:root {
    font-variant-ligatures:normal!important;
    --font: var(--monospace-font) !important;
    --irc-chat-width: 260px;
}
[class^=MessageBase-] {
    position: relative;
    margin-top: 0;
}
[class^=MessageBase__MessageInfo] {
    width: var(--irc-chat-width);
    margin-right: 10px;
}
[class^=MessageBase__MessageInfo]>svg, .user>svg {
    display: none;
}
[class^=Channel__ChannelContent] [class^=MessageBase__MessageContent] {
    position: unset;
}
[class^=MessageBase__MessageContent]>.detail {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--irc-chat-width);
    display: flex;
    flex-direction: row-reverse;
}
[class^=MessageBase__MessageContent]>.detail>.author {
    word-break: break-all;
}
[class^=MessageBase__MessageInfo]>time {
    opacity: 1 !important;
    flex-grow: 1;   
}
[class^=MessageReply__ReplyBase] {
    margin-left: calc(var(--irc-chat-width) + 15px);
    margin-top: 0;
}
[class^=MessageReply__ReplyBase]::before {
    content: '>';
    border: none;
    align-self: center;
    width: auto;
    height: 100%;
}
[class^=MessageBase__DetailBase] {
    margin-right: auto;
}
[class^=MessageBase__DetailBase]>time {
    margin-left: 2px;
    font-family: Blank, var(--font);
}
[class^=MessageBase__]>time::before {
    content: '['
}
[class^=MessageBase__]>time::after {
    content: ']'
}
[class^=MessageBase__MessageContent]>.detail>.author::before, .user>span::before {
    content: '<'
}
[class^=MessageBase__MessageContent]>.detail>.author::after, .user>span::after {
    content: '>'
}
[class^=DateDivider__Base] {
    margin: 3px -6px;
    padding: 1px 4px;
    position: sticky;
    top: 0;
    border: unset;
    background: var(--secondary-header);
    height: auto;
    z-index: 1;
}
[class^=DateDivider__Base]>time {
    font-size: 10px;
    background: unset;
}
[class^=MessageArea__Area] {
    background: linear-gradient(to right, var(--secondary-background) calc(var(--irc-chat-width) + 7px), #0000 calc(var(--irc-chat-width) + 7px))
}
/*[class^=MessageArea__Area]>div {
    padding-bottom: 0;
}
to reactivate this, you need to hide the * is typing bar*/
[class^=DateDivider__Unread] {
    padding: unset;
    border-radius: unset;
    background: unset;
    color: var(--accent);
    font-size: 10px;
    margin: 0 5px;
}
[class^=DateDivider__Unread]::after {
    content: '';
    position: absolute;
    width: 100%;
    background: var(--accent);
    height: 1px;
    top: 7px;
    margin-left: 5px;
}
[class^=Channel__ChannelContent] [class^=MessageBase__MessageInfo]>.copyTime {
    position: relative;
}
