/*
	Fonts
*/
:root {
	--font: "Helvetica Neue", Helvetica, Arial, sans-serif !important; /* Discord font stack without paid Whitney */
	--text-size: 15px;
}
body {
	font-weight: 400;
}
[class^="_item_"] > div[class^="_name_"], [class^="Category-sc-"], [class^="MessageReply__ReplyBase"] .user {
	font-weight: 500;
}
/* Revite actually uses important on the author, so we need to do a higher specificity important */
span.detail span.author {
	font-weight: 500 !important;
}

/*
	Layout
*/
[class^="_settings_"] {
	position: relative !important;
}

[class^="MessageBase"] [class^="IconBase"] {
	width: 40px;
	height: 40px;
}

[class^="MessageBase"], .detail {
	min-height: 1.375em;
	padding: 0.125em;
}
[class^="MessageBase__DetailBase"],
[class^="MessageBase"] > time,
[class^="MessageBase"] > .edited {
	min-height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

[class^="UserShort__BotBadge-sc-"] {
	height: 1.3em;
}

pre {
	padding: 0.5em !important;
	margin: 0;
}

/*
	Recolours
*/
::selection {
	background-color: var(--accent);
	color: var(--foreground);
}

[class^="MessageReply__ReplyBase"]::before {
	border-inline-start: 2px solid var(--tertiary-background);
    border-top: 2px solid var(--tertiary-background);
}

pre {
	border: 1px solid var(--background);
}

/*
	Custom Scrollbar
*/
:not(
	[data-test-id="virtuoso-scroller"],
	[class^="Groups-sc"],
	[class*="Sidebar"]
)::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: solid 4px transparent !important;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;
}

::-webkit-scrollbar-track {
	margin-bottom: 4px;
	margin-top: 4px;
}

[data-scroll-offset]::-webkit-scrollbar-track {
	margin-top: calc(var(--header-height) + 4px);
}
