@font-face {
  font-family: "Forza";
  font-style: normal;
  font-weight: 900;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-Black.ttf);
}
@font-face {
  font-family: "Forza Book";
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-Book.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: italic;
  font-weight: 500;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-MediumItalic.woff);
}
@font-face {
  font-family: "Forza";
  font-style: normal;
  font-weight: 500;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-Medium.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: normal;
  font-weight: 300;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-Light.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: normal;
  font-weight: 700;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-Bold.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: italic;
  font-weight: 300;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-LightItalic.ttf);
}
@font-face {
  font-family: "Forza Book";
  font-style: italic;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-BookItalic.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: italic;
  font-weight: 900;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-BlackItalic.ttf);
}
@font-face {
  font-family: "Forza";
  font-style: italic;
  font-weight: 700;
  src: url(https://rawcdn.githack.com/irrvlo/fonts/a8f0567c4db9931a7f404e909d15c111c11710b1/Forza-BoldItalic.ttf);
}

* {
font-family: Forza;
}

.Titlebar__TitlebarBase-sc-1ykozpe-0.hwmymO > .title:before {
content: "NAMELESS X";
font-size: 0.65rem;
margin-bottom: 10px;
margin-right: -0.15rem;
}

._sidebar_t7t23_39 {
flex: unset !important;
}

._contentcontainer_t7t23_62 {
max-width: 95%!important;
}

.SwooshWrapper-sc-176t3v5-1.dDUwGF {
transform: rotate(180deg) !important;
top: -2.25rem !important;
}

:root {
--status-focus: #618df5 !important;
}

.SwooshWrapper-sc-176t3v5-1.dDUwGF rect,
.SwooshWrapper-sc-176t3v5-1.dDUwGF path {
fill: #3f5a97 !important;
}

HeightPreservingContainer-sc-2lkyp5-0.caIsnq {
position: absolute !important;
bottom: 0 !important;
}

._container_t7t23_46 {
height: 100%;
justify-content: center !important;
}

.Container-sc-asykym-0.iktQcs {
  max-width: unset !important;
}

.ListHeader__Header-sc-edp5p2-0.jlstve {
margin: 3rem 0rem !important;
}

.dhSbhx {
display: flex !important;
flex-wrap: wrap !important;
}

.Tile__Container-sc-1szgf75-0.gWDWsC {
flex-direction: row !important;
width: 49.4rem !important;
height: 15rem !important;
}

.Tile__BannerContainer-sc-1szgf75-1.aFytw {
width: 100% !important;
height: 100% !important;
}

.Tile__Overlay-sc-1szgf75-4.iLqPps {
top: 3rem !important;
width: unset !important;
}

.Tile__ContentContainer-sc-1szgf75-5.fDKGdI {
width: 100% !important;
}

.UserShort__BotBadge-sc-1sbe9n1-0.cYjFcE {
background: var(--status-focus) !important;
font-weight: 800 !important;
}

._profile_17p8w_21 {
flex-direction: column;
}

._profile_17p8w_21 ._details_17p8w_33 {
align-items: center;
}

.emoji {
margin: 0 !important;
}
