/*** Custom css for the ice shard theme ***/

/* Removes all round edges on everything */
:root {
    --border-radius: 0;
    --border-radius-half: 0;
}

/* Adds a light blue line between the server and channel list */
.ljWfRO {
    border-right: 2px solid #72f5f3;
}

/* Makes spoilers a lighter color, to make them better visible on the dark background */
:root .spoiler {
    background: #313152;
}

/* Hides the wave used as a chosen server indicator by default */
.cebzwO span, .dtmIia span {
    display: none;
}

/* Adds a light blue border around the active server's icon */
.cebzwO svg, .dtmIia svg { 
  outline-style: solid;
  outline-color: #72f5f3;
  outline-width: 2px;
}

/* colored outline and name of picked channel */
._compact_15670_19[data-active=true],
._normal_15670_16[data-active=true],
._user_15670_23[data-active=true] {
  color: #37FFF8;
  outline-style: solid;
  outline-color: #72f5f3;
  outline-width: 2px;
}

/* mention message colored + bold text */
div.bRZfle > div.syKsX > ._markdown_8b8eo_2,
div.gPBqdg > div.syKsX > ._markdown_8b8eo_2 {
  color: #4cfaff;
  font-weight: bold;
}

/* Make selected text readable */
p::selection,
textarea::selection,
time::selection,
span::selection {
  color: #000056;
}
a::selection {
  color: #8e02a2;
}

/* Nice home screen */
._home_1khrk_1 {
  height: 100%;
  background-image: url("https://autumn.revolt.chat/attachments/hqI1nk7NBECh8n7GP3eqt-PXv-5tXGWGnbn9qJWZUO");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/* outlining buttons on home screen for better visibility */
div._actions_1khrk_12 > a > div,
div._actions_1khrk_12 > div > a > div {
  outline-style: solid;
  outline-color: #72f5f3;
  outline-width: 1px;
}

/* Nicer link hovers */
._markdown_8b8eo_2 > p > a:hover,
._markdown_8b8eo_2 > blockquote > p > a:hover,
._website_x54sc_11 > div > span > a:hover {
  color: magenta;
  background: cyan;
  text-decoration: none !important;
}
